body {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif !important;
  color: #545454;
}
* {
  margin: 0;
  padding: 0;
}
img {
  border: none;
  max-width: 100%;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.full_width {
  width: 100%;
}
.mgb_15 {
  margin-bottom: 15px;
}
.mt-top {
  margin-top: 20px;
}
.middle_content_video_list {
  float: left;
  width: 100%;
  margin-top: 40px;
}
.video_list {
  float: left;
  width: 100%;
}
.video_list_left {
  float: left;
  width: 50%;
}
.video_list_right {
  float: right;
  width: 50%;
  position: relative;
}
.video_list_right .parent {
  right: 43%;
}
.middle_content_video_list .youtube_v {
  float: left;
  width: 200px;
  padding-bottom: 2px;
}
.middle_content_video_list .youtube_t {
  float: left;
  width: 55%;
  color: #2c49a3;
  font-size: 12px;
  padding-bottom: 20px;
}
.middle_content_video_list .youtube_t a {
  font-weight: bold;
  font-size: 12px;
  color: #2c49a3;
  text-decoration: none;
}
.middle_content_video_list p {
  margin: 0;
  font-size: 12px;
  color: #545454;
  line-height: 12px;
}
.main_video_title {
  width: 100%;
  font-size: 12px;
  color: #2c49a3;
  font-weight: bold;
  font-family: verdana;
}
.main_video_desc {
  width: 100%;
  font-size: 12px;
  color: #2c49a3;
  font-family: verdana;
  padding: 0px 0px 10px 0px;
}
.parent {
  position: absolute;
  width: 500px;
  z-index: 9999;
}
.parent a {
  position: absolute;
  top: 0px;
  right: 0px;
}
.parent iframe {
  width: 100%;
}
